<table border="3">
    <tr>
        <td>id</td>
        <td>username</td>
        <td>email</td>
    </tr>
    {% for i in tabauthors %}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.username}}</td>
        <td>{{i.email}}</td>
        <td><a href="{{path('app_updateformauthors',{'id':i.id})}}">update</a></td>
        <td><a href="{{path('app_deleteauthors',{'id':i.id})}}">delete</a></td>
    </tr>
    {% endfor %}
</table>